body{
    margin: 0;
    padding: 0;
    background: linear-gradient(25deg,#091ed8,#6cd38e 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-hight: 100vh;
    font-family: sans-serif;
}

.container{
    background-color: #eee9e9;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 30px;
    margin-bottom: 1.5rem;
}

.stopwatch{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.timer{
    font-size: 40px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
    from{
        transform: scale(1);
    }
    
    to{
        transform: scale(1.05);
    }
}

.timer span{
    width: 110px;
    display: inline-block;
    text-align: center;
}

.contorls{
    display: flex;
    gap: 1rem;
}

button{
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: #2107b3;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition:   background-color 0.3s ease-in-out;
}

button:hover{
    background-color: #d72a76;
}

.lap-title{
    font-size: 1.5rem;
}

.laps{
    width: 100%;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: 200px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

li{
    padding: 1rem;
    border-bottom: 1px solid #e0e0e0;
}

li:last-child{
    border-bottom: none;
}

li span{
    font-weight: 700;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  gap: 5px;
  position: absolute;
  bottom: auto;
  width: 100%;
  font-size: 2rem;
  background-color: #687eff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.em {
  background-color: #dd4b39;
}

.li {
  background-color: #0082ca;
}

.git {
  background-color: #333333;
}

a {
  color: black;
  text-decoration: none;
}

.copyright {
  font-size: 20px;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: bold;
}

